
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Novo Post","New","Posts",null,new {@class="btn btn-primary"})

<table id="posts" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Data do Post</th>
            <th>Post</th>
        </tr>
   </thead>
</table>

